In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Salt组

In [2]:
salt_57w = pd.read_csv('./trans_sa_57w1_result1_all.txt', sep='\t', header=0)
salt_57w.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs
0,rs1_29207996,1,29207996,1.255535e-06,LOC_Os01g01010,-0.182715,0.037414,0.015,824
1,rs1_37303024,1,37303024,2.726927e-09,LOC_Os01g01010,-0.253359,0.042123,0.012,822
2,rs1_37313537,1,37313537,2.744417e-09,LOC_Os01g01010,-0.253278,0.042117,0.012,823
3,rs1_40712968,1,40712968,1.291916e-06,LOC_Os01g01010,-0.195897,0.040161,0.013,812
4,rs1_40723053,1,40723053,8.185000e-08,LOC_Os01g01010,-0.226325,0.041814,0.012,823

In [3]:
salt_57w_unique = salt_57w.loc[salt_57w.groupby('rs')['p_wald'].idxmin()]
salt_57w_unique.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs
7843377,rs10_1000593,10,1000593,7.519620e-12,LOC_Os06g05440,0.269467,0.038772,0.143,805
13427137,rs10_1000602,10,1000602,1.502803e-40,LOC_Os10g02380,-0.492542,0.034922,0.017,799
13482824,rs10_1000753,10,1000753,3.634646e-23,LOC_Os10g04050,0.772128,0.075508,0.039,812
13461074,rs10_1000800,10,1000800,1.456245e-13,LOC_Os10g03550,-0.079508,0.010573,0.297,812
13427138,rs10_1000826,10,1000826,2.719005e-09,LOC_Os10g02380,-0.149908,0.024921,0.062,812

In [4]:
# 按照chr和ps排序
salt_57w_unique = salt_57w_unique.sort_values(by=['chr', 'ps'])
salt_57w_unique.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs
8220,rs1_1248,1,1248,1.175502e-24,LOC_Os01g01620,0.246635,0.023276,0.023,799
5025,rs1_1282,1,1282,5.145760e-11,LOC_Os01g01420,-0.205058,0.030802,0.012,804
8221,rs1_1299,1,1299,1.516120e-55,LOC_Os01g01620,-0.242781,0.014297,0.078,800
5027,rs1_1306,1,1306,2.744734e-11,LOC_Os01g01420,-0.190517,0.028207,0.014,805
2560,rs1_1335,1,1335,8.739122e-56,LOC_Os01g01290,0.366434,0.021523,0.183,807

In [5]:
# 添加bin_label
salt_57w_unique['bin'] = None
bin_num = 1
prev_chr = None
prev_ps = None
for index, row in salt_57w_unique.iterrows():
    if prev_chr is None or row['chr'] != prev_chr or row['ps'] - prev_ps > 10000:
        bin_label = f'bin{bin_num}'
        bin_num += 1
        prev_chr = row['chr']
        prev_ps = row['ps']
    salt_57w_unique.at[index, 'bin'] = bin_label
salt_57w_unique.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs,bin
8220,rs1_1248,1,1248,1.175502e-24,LOC_Os01g01620,0.246635,0.023276,0.023,799,bin1
5025,rs1_1282,1,1282,5.145760e-11,LOC_Os01g01420,-0.205058,0.030802,0.012,804,bin1
8221,rs1_1299,1,1299,1.516120e-55,LOC_Os01g01620,-0.242781,0.014297,0.078,800,bin1
5027,rs1_1306,1,1306,2.744734e-11,LOC_Os01g01420,-0.190517,0.028207,0.014,805,bin1
2560,rs1_1335,1,1335,8.739122e-56,LOC_Os01g01290,0.366434,0.021523,0.183,807,bin1

In [6]:
# 保存结果
salt_57w_unique.to_csv('./sa_each_snp_belong_to_which_bin.txt', sep='\t', index=False)

In [7]:
# salt_57w_unique只保留最小的p值
salt_57w_unique_each_bin = salt_57w_unique.loc[salt_57w_unique.groupby('bin')['p_wald'].idxmin()]
salt_57w_unique_each_bin.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs,bin
8227,rs1_9771,1,9771,1.060787e-58,LOC_Os01g01620,-0.260561,0.014843,0.077,826,bin1
8305,rs1_97997,1,97997,8.987692e-44,LOC_Os01g01620,-0.252414,0.017115,0.061,825,bin10
258060,rs1_1241432,1,1241432,2.040359e-136,LOC_Os01g03340,-0.745367,0.024463,0.337,821,bin100
1646584,rs1_11548306,1,11548306,6.647842e-30,LOC_Os01g51370,0.308839,0.026102,0.063,790,bin1000
12806931,rs4_470804,4,470804,3.423803e-28,LOC_Os09g16995,0.473185,0.041365,0.016,818,bin10000

In [8]:
# 按照chr和ps排序
salt_57w_unique_each_bin = salt_57w_unique_each_bin.sort_values(by=['chr', 'ps'])
salt_57w_unique_each_bin.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs,bin
8227,rs1_9771,1,9771,1.060787e-58,LOC_Os01g01620,-0.260561,0.014843,0.077,826,bin1
2577,rs1_14823,1,14823,1.563987e-57,LOC_Os01g01290,0.373129,0.021514,0.177,821,bin2
2597,rs1_30750,1,30750,1.076269e-57,LOC_Os01g01290,0.374488,0.021556,0.176,820,bin3
2599,rs1_33182,1,33182,3.470965e-57,LOC_Os01g01290,0.371727,0.021511,0.177,824,bin4
4060754,rs1_49413,1,49413,2.492673e-48,LOC_Os03g20140,-0.340025,0.021752,0.064,824,bin5

In [9]:
# 保存结果
salt_57w_unique_each_bin.to_csv('./sa_each_bin_lead_snp.txt', sep='\t', index=False, header=True)

In [3]:
# 读取trans
sa = pd.read_csv('./sa_1_trans_bin_leadsnp.txt',sep='\t', header=0)
sa.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs,bin
0,rs1_9771,1,9771,1.060787e-58,LOC_Os01g01620,-0.260561,0.014843,0.077,826,bin1
1,rs1_14823,1,14823,1.563987e-57,LOC_Os01g01290,0.373129,0.021514,0.177,821,bin2
2,rs1_30750,1,30750,1.076269e-57,LOC_Os01g01290,0.374488,0.021556,0.176,820,bin3
3,rs1_33182,1,33182,3.470965e-57,LOC_Os01g01290,0.371727,0.021511,0.177,824,bin4
4,rs1_49413,1,49413,2.492673e-48,LOC_Os03g20140,-0.340025,0.021752,0.064,824,bin5

In [4]:
# 读取ld
sa_ld = pd.read_csv('./sa1_bin_re_ld.txt',sep='\t', header=0)
sa_ld.head()

        snp1       snp2        r2
0   rs1_9771  rs1_14823  0.018056
1  rs1_14823  rs1_30750  0.987488
2  rs1_30750  rs1_33182  0.987491
3  rs1_33182  rs1_49413  0.014735
4  rs1_49413  rs1_62388  0.004396

In [5]:
# 添加一列new_bin
sa['new_bin'] = None
new_bin_num = 1
pre_snp = None
for index, row in sa.iterrows():
    if pre_snp is None:
        pre_snp = row['rs']
        new_bin_label = f'new_bin{new_bin_num}'
        r2 = 1
        sa.at[index, 'new_bin'] = new_bin_label
    else:
        if row['rs'].split('_')[0][2:] == pre_snp.split('_')[0][2:]:
            r2_rows = sa_ld.loc[(sa_ld['snp1'] == pre_snp) & (sa_ld['snp2'] == row['rs']), 'r2']
            if len(r2_rows) > 0:
                r2 = r2_rows.values[0]
            else:
                r2 = 9
            if r2 > 0.1 and r2 != 9:
                sa.at[index, 'new_bin'] = new_bin_label
            elif r2 == 9:
                new_bin_num += 1
                new_bin_label = f'new_bin{new_bin_num}'
                sa.at[index, 'new_bin'] = new_bin_label
            else:
                new_bin_num += 1
                new_bin_label = f'new_bin{new_bin_num}'
                sa.at[index, 'new_bin'] = new_bin_label
        else:
            new_bin_num += 1
            new_bin_label = f'new_bin{new_bin_num}'
            sa.at[index, 'new_bin'] = new_bin_label
        pre_snp = row['rs']
sa.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs,bin,new_bin
0,rs1_9771,1,9771,1.060787e-58,LOC_Os01g01620,-0.260561,0.014843,0.077,826,bin1,new_bin1
1,rs1_14823,1,14823,1.563987e-57,LOC_Os01g01290,0.373129,0.021514,0.177,821,bin2,new_bin2
2,rs1_30750,1,30750,1.076269e-57,LOC_Os01g01290,0.374488,0.021556,0.176,820,bin3,new_bin2
3,rs1_33182,1,33182,3.470965e-57,LOC_Os01g01290,0.371727,0.021511,0.177,824,bin4,new_bin2
4,rs1_49413,1,49413,2.492673e-48,LOC_Os03g20140,-0.340025,0.021752,0.064,824,bin5,new_bin3

In [6]:
# 保存结果，空值用nan表示
sa.to_csv('./sa_each_snp_belong_to_which_new_bin0.01.txt', sep='\t', index=False, header=True, na_rep='NA')

### CK组

In [7]:
ck_57w = pd.read_csv('./ck_trans_57w1_result1_all.txt', sep='\t', header=0)
ck_57w.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs
0,rs1_30313897,1,30313897,5.664905e-07,LOC_Os02g01010,-0.281288,0.055780,0.012,823
1,rs1_30332739,1,30332739,5.423329e-07,LOC_Os02g01010,-0.285559,0.056531,0.011,794
2,rs1_30414392,1,30414392,1.565606e-06,LOC_Os02g01010,-0.211416,0.043693,0.078,825
3,rs1_30447517,1,30447517,1.564349e-06,LOC_Os02g01010,-0.211486,0.043706,0.078,825
4,rs1_40875938,1,40875938,3.838275e-07,LOC_Os02g01010,-0.162280,0.031701,0.038,825

In [8]:
ck_57w_unique = ck_57w.loc[ck_57w.groupby('rs')['p_wald'].idxmin()]
ck_57w_unique.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs
5696020,rs10_1000593,10,1000593,3.485392e-11,LOC_Os06g05440,0.265030,0.039454,0.143,805
11416198,rs10_1000602,10,1000602,1.180413e-40,LOC_Os10g02380,-0.411831,0.029156,0.017,799
11476122,rs10_1000753,10,1000753,1.297031e-22,LOC_Os10g04050,0.823818,0.081681,0.039,812
11459343,rs10_1000800,10,1000800,7.821129e-11,LOC_Os10g03669,-0.152637,0.023155,0.297,812
11267329,rs10_1000826,10,1000826,1.311836e-08,LOC_Os09g33740,-0.192345,0.033489,0.062,812

In [9]:
# 按照chr和ps排序
ck_57w_unique = ck_57w_unique.sort_values(by=['chr', 'ps'])
ck_57w_unique.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs
15632592,rs1_1248,1,1248,3.498399e-22,LOC_Os01g01450,-0.117626,0.011791,0.023,799
15628935,rs1_1282,1,1282,1.918899e-12,LOC_Os01g01420,-0.234717,0.032820,0.012,804
15637807,rs1_1299,1,1299,2.090801e-28,LOC_Os01g01620,-0.136385,0.011871,0.078,800
15628937,rs1_1306,1,1306,2.827318e-17,LOC_Os01g01420,-0.257380,0.029767,0.014,805
15627560,rs1_1335,1,1335,1.340900e-53,LOC_Os01g01290,0.369190,0.022210,0.183,807

In [10]:
# 添加bin_label
ck_57w_unique['bin'] = None
bin_num = 1
prev_chr = None
prev_ps = None
for index, row in ck_57w_unique.iterrows():
    if prev_chr is None or row['chr'] != prev_chr or row['ps'] - prev_ps > 10000:
        bin_label = f'bin{bin_num}'
        bin_num += 1
        prev_chr = row['chr']
        prev_ps = row['ps']
    ck_57w_unique.at[index, 'bin'] = bin_label
ck_57w_unique.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs,bin
15632592,rs1_1248,1,1248,3.498399e-22,LOC_Os01g01450,-0.117626,0.011791,0.023,799,bin1
15628935,rs1_1282,1,1282,1.918899e-12,LOC_Os01g01420,-0.234717,0.032820,0.012,804,bin1
15637807,rs1_1299,1,1299,2.090801e-28,LOC_Os01g01620,-0.136385,0.011871,0.078,800,bin1
15628937,rs1_1306,1,1306,2.827318e-17,LOC_Os01g01420,-0.257380,0.029767,0.014,805,bin1
15627560,rs1_1335,1,1335,1.340900e-53,LOC_Os01g01290,0.369190,0.022210,0.183,807,bin1

In [11]:
# 保存结果
ck_57w_unique.to_csv('./ck_each_snp_belong_to_which_bin.txt', sep='\t', index=False)

In [12]:
# ck_57w_unique只保留最小的p值
ck_57w_unique_each_bin = ck_57w_unique.loc[ck_57w_unique.groupby('bin')['p_wald'].idxmin()]
ck_57w_unique_each_bin.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs,bin
15627565,rs1_5170,1,5170,4.897150e-56,LOC_Os01g01290,0.380529,0.022291,0.176,822,bin1
15656152,rs1_94599,1,94599,2.049047e-27,LOC_Os01g02080,-0.248459,0.022070,0.056,823,bin10
15845241,rs1_1241432,1,1241432,2.146299e-124,LOC_Os01g03340,-0.712997,0.024997,0.337,821,bin100
16414981,rs1_11557812,1,11557812,2.277645e-23,LOC_Os01g20110,0.137010,0.013332,0.030,822,bin1000
17731992,rs4_354017,4,354017,7.892101e-60,LOC_Os01g68450,-0.312811,0.017615,0.012,820,bin10000

In [13]:
# 按照chr和ps排序
ck_57w_unique_each_bin = ck_57w_unique_each_bin.sort_values(by=['chr', 'ps'])
ck_57w_unique_each_bin.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs,bin
15627565,rs1_5170,1,5170,4.897150e-56,LOC_Os01g01290,0.380529,0.022291,0.176,822,bin1
15627579,rs1_14823,1,14823,1.411019e-56,LOC_Os01g01290,0.380663,0.022171,0.177,821,bin2
15627601,rs1_30750,1,30750,8.427249e-56,LOC_Os01g01290,0.378821,0.022247,0.176,820,bin3
15627603,rs1_33182,1,33182,1.617969e-56,LOC_Os01g01290,0.379821,0.022136,0.177,824,bin4
11827837,rs1_49413,1,49413,1.813978e-40,LOC_Os10g12050,0.433862,0.030798,0.064,824,bin5

In [ ]:
# 保存结果
ck_57w_unique_each_bin.to_csv('./ck_each_bin_lead_snp.txt', sep='\t', index=False, header=True)

In [7]:
# 读取trans
ck = pd.read_csv('./ck_1_trans_bin_leadsnp.txt',sep='\t', header=0)
ck.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs,bin
0,rs1_5170,1,5170,4.897150e-56,LOC_Os01g01290,0.380529,0.022291,0.176,822,bin1
1,rs1_14823,1,14823,1.411019e-56,LOC_Os01g01290,0.380663,0.022171,0.177,821,bin2
2,rs1_30750,1,30750,8.427249e-56,LOC_Os01g01290,0.378821,0.022247,0.176,820,bin3
3,rs1_33182,1,33182,1.617969e-56,LOC_Os01g01290,0.379821,0.022136,0.177,824,bin4
4,rs1_49413,1,49413,1.813978e-40,LOC_Os10g12050,0.433862,0.030798,0.064,824,bin5

In [8]:
# 读取ld
ck_ld = pd.read_csv('./ck1_bin_re_ld.txt',sep='\t', header=0)
ck_ld.head()

        snp1       snp2        r2
0   rs1_5170  rs1_14823  0.987488
1  rs1_14823  rs1_30750  0.987488
2  rs1_30750  rs1_33182  0.987491
3  rs1_33182  rs1_49413  0.014735
4  rs1_49413  rs1_58048  0.001610

In [9]:
# 添加一列new_bin
ck['new_bin'] = None
new_bin_num = 1
pre_snp = None
for index, row in ck.iterrows():
    if pre_snp is None:
        pre_snp = row['rs']
        new_bin_label = f'new_bin{new_bin_num}'
        r2 = 1
        ck.at[index, 'new_bin'] = new_bin_label
    else:
        if row['rs'].split('_')[0][2:] == pre_snp.split('_')[0][2:]:
            r2_rows = ck_ld.loc[(ck_ld['snp1'] == pre_snp) & (ck_ld['snp2'] == row['rs']), 'r2']
            if len(r2_rows) > 0:
                r2 = r2_rows.values[0]
            else:
                r2 = 9
            if r2 > 0.1 and r2 != 9:
                ck.at[index, 'new_bin'] = new_bin_label
            elif r2 == 9:
                new_bin_num += 1
                new_bin_label = f'new_bin{new_bin_num}'
                ck.at[index, 'new_bin'] = new_bin_label
            else:
                new_bin_num += 1
                new_bin_label = f'new_bin{new_bin_num}'
                ck.at[index, 'new_bin'] = new_bin_label
            pre_snp = row['rs']
        else:
            new_bin_num += 1
            new_bin_label = f'new_bin{new_bin_num}'
            ck.at[index, 'new_bin'] = new_bin_label
            pre_snp = row['rs']
ck.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs,bin,new_bin
0,rs1_5170,1,5170,4.897150e-56,LOC_Os01g01290,0.380529,0.022291,0.176,822,bin1,new_bin1
1,rs1_14823,1,14823,1.411019e-56,LOC_Os01g01290,0.380663,0.022171,0.177,821,bin2,new_bin1
2,rs1_30750,1,30750,8.427249e-56,LOC_Os01g01290,0.378821,0.022247,0.176,820,bin3,new_bin1
3,rs1_33182,1,33182,1.617969e-56,LOC_Os01g01290,0.379821,0.022136,0.177,824,bin4,new_bin1
4,rs1_49413,1,49413,1.813978e-40,LOC_Os10g12050,0.433862,0.030798,0.064,824,bin5,new_bin2

In [10]:
# 保存结果，空值用nan表示
ck.to_csv('./ck_each_snp_belong_to_which_new_bin0.01.txt', sep='\t', index=False, header=True, na_rep='NA')