In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Salt组

In [3]:
sa_bin = pd.read_csv('./sa_1_trans_snp2bin.txt', sep='\t', header=0)
sa_bin.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs,bin
0,rs1_1248,1,1248,1.175502e-24,LOC_Os01g01620,0.246635,0.023276,0.023,799,bin1
1,rs1_1282,1,1282,5.145760e-11,LOC_Os01g01420,-0.205058,0.030802,0.012,804,bin1
2,rs1_1299,1,1299,1.516120e-55,LOC_Os01g01620,-0.242781,0.014297,0.078,800,bin1
3,rs1_1306,1,1306,2.744734e-11,LOC_Os01g01420,-0.190517,0.028207,0.014,805,bin1
4,rs1_1335,1,1335,8.739122e-56,LOC_Os01g01290,0.366434,0.021523,0.183,807,bin1

In [4]:
sa_new_bin = pd.read_csv('./sa_each_snp_belong_to_which_new_bin0.01.txt', sep='\t', header=0)
sa_new_bin.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs,bin,new_bin
0,rs1_9771,1,9771,1.060787e-58,LOC_Os01g01620,-0.260561,0.014843,0.077,826,bin1,new_bin1
1,rs1_14823,1,14823,1.563987e-57,LOC_Os01g01290,0.373129,0.021514,0.177,821,bin2,new_bin2
2,rs1_30750,1,30750,1.076269e-57,LOC_Os01g01290,0.374488,0.021556,0.176,820,bin3,new_bin2
3,rs1_33182,1,33182,3.470965e-57,LOC_Os01g01290,0.371727,0.021511,0.177,824,bin4,new_bin2
4,rs1_49413,1,49413,2.492673e-48,LOC_Os03g20140,-0.340025,0.021752,0.064,824,bin5,new_bin3

In [5]:
# sa_new_bin每个new_bin保留最小p_wald的行
sa_new_bin_unique = sa_new_bin.loc[sa_new_bin.groupby('new_bin')['p_wald'].idxmin()]
sa_new_bin_unique.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs,bin,new_bin
0,rs1_9771,1,9771,1.060787e-58,LOC_Os01g01620,-0.260561,0.014843,0.077,826,bin1,new_bin1
21,rs1_243621,1,243621,3.350472e-29,LOC_Os01g01840,-0.288849,0.024747,0.491,816,bin22,new_bin10
247,rs1_3141091,1,3141091,1.253337e-58,LOC_Os01g06900,0.269433,0.015359,0.134,822,bin248,new_bin100
2182,rs1_26787531,1,26787531,7.792755e-13,LOC_Os03g06230,-0.136729,0.018776,0.036,825,bin2183,new_bin1000
21015,rs8_18305795,8,18305795,1.333970e-55,LOC_Os08g30240,0.410722,0.024172,0.043,824,bin21016,new_bin10000

In [6]:
# 按照chr和ps排序
sa_new_bin_unique = sa_new_bin_unique.sort_values(by=['chr', 'ps'])
sa_new_bin_unique.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs,bin,new_bin
0,rs1_9771,1,9771,1.060787e-58,LOC_Os01g01620,-0.260561,0.014843,0.077,826,bin1,new_bin1
2,rs1_30750,1,30750,1.076269e-57,LOC_Os01g01290,0.374488,0.021556,0.176,820,bin3,new_bin2
4,rs1_49413,1,49413,2.492673e-48,LOC_Os03g20140,-0.340025,0.021752,0.064,824,bin5,new_bin3
6,rs1_69492,1,69492,6.683827e-74,LOC_Os01g01620,-0.326081,0.016126,0.068,826,bin7,new_bin4
15,rs1_184342,1,184342,1.397543e-68,LOC_Os01g51370,0.515753,0.026718,0.040,818,bin16,new_bin5

In [7]:
# 给sa_bin添加新的列new_bin，值为sa_bin的bin列在sa_new_bin中的bin列对应new_bin列的值
sa_bin['new_bin'] = sa_bin['bin'].map(sa_new_bin.set_index('bin')['new_bin'])
sa_bin.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs,bin,new_bin
0,rs1_1248,1,1248,1.175502e-24,LOC_Os01g01620,0.246635,0.023276,0.023,799,bin1,new_bin1
1,rs1_1282,1,1282,5.145760e-11,LOC_Os01g01420,-0.205058,0.030802,0.012,804,bin1,new_bin1
2,rs1_1299,1,1299,1.516120e-55,LOC_Os01g01620,-0.242781,0.014297,0.078,800,bin1,new_bin1
3,rs1_1306,1,1306,2.744734e-11,LOC_Os01g01420,-0.190517,0.028207,0.014,805,bin1,new_bin1
4,rs1_1335,1,1335,8.739122e-56,LOC_Os01g01290,0.366434,0.021523,0.183,807,bin1,new_bin1

In [8]:
# 保存sa_bin
sa_bin.to_csv('./sa_each_snp_belong_to_which_bin_fin.txt', sep='\t', index=False)

In [9]:
# 保存sa_new_bin_unique
sa_new_bin_unique.to_csv('./sa_new_bin_lead_snp.txt', sep='\t', index=False)

### CK组

In [11]:
ck_bin = pd.read_csv('./ck_1_trans_snp2bin.txt', sep='\t', header=0)
ck_bin.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs,bin
0,rs1_1248,1,1248,3.498399e-22,LOC_Os01g01450,-0.117626,0.011791,0.023,799,bin1
1,rs1_1282,1,1282,1.918899e-12,LOC_Os01g01420,-0.234717,0.032820,0.012,804,bin1
2,rs1_1299,1,1299,2.090801e-28,LOC_Os01g01620,-0.136385,0.011871,0.078,800,bin1
3,rs1_1306,1,1306,2.827318e-17,LOC_Os01g01420,-0.257380,0.029767,0.014,805,bin1
4,rs1_1335,1,1335,1.340900e-53,LOC_Os01g01290,0.369190,0.022210,0.183,807,bin1

In [12]:
ck_new_bin = pd.read_csv('./ck_each_snp_belong_to_which_new_bin0.01.txt', sep='\t', header=0)
ck_new_bin.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs,bin,new_bin
0,rs1_5170,1,5170,4.897150e-56,LOC_Os01g01290,0.380529,0.022291,0.176,822,bin1,new_bin1
1,rs1_14823,1,14823,1.411019e-56,LOC_Os01g01290,0.380663,0.022171,0.177,821,bin2,new_bin1
2,rs1_30750,1,30750,8.427249e-56,LOC_Os01g01290,0.378821,0.022247,0.176,820,bin3,new_bin1
3,rs1_33182,1,33182,1.617969e-56,LOC_Os01g01290,0.379821,0.022136,0.177,824,bin4,new_bin1
4,rs1_49413,1,49413,1.813978e-40,LOC_Os10g12050,0.433862,0.030798,0.064,824,bin5,new_bin2

In [13]:
# ck_new_bin每个new_bin保留最小p_wald的行
ck_new_bin_unique = ck_new_bin.loc[ck_new_bin.groupby('new_bin')['p_wald'].idxmin()]
ck_new_bin_unique.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs,bin,new_bin
1,rs1_14823,1,14823,1.411019e-56,LOC_Os01g01290,0.380663,0.022171,0.177,821,bin2,new_bin1
13,rs1_164495,1,164495,1.742849e-24,LOC_Os01g01940,0.445345,0.042196,0.045,825,bin14,new_bin10
228,rs1_2885256,1,2885256,3.825296e-48,LOC_Os01g05130,-0.483754,0.031017,0.139,818,bin229,new_bin100
2220,rs1_27270722,1,27270722,3.817128e-23,LOC_Os03g43490,0.608873,0.059574,0.043,819,bin2221,new_bin1000
21056,rs8_18395780,8,18395780,9.666634e-41,LOC_Os01g06680,0.621926,0.043975,0.011,790,bin21057,new_bin10000

In [14]:
# 按照chr和ps排序
ck_new_bin_unique = ck_new_bin_unique.sort_values(by=['chr', 'ps'])
ck_new_bin_unique.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs,bin,new_bin
1,rs1_14823,1,14823,1.411019e-56,LOC_Os01g01290,0.380663,0.022171,0.177,821,bin2,new_bin1
4,rs1_49413,1,49413,1.813978e-40,LOC_Os10g12050,0.433862,0.030798,0.064,824,bin5,new_bin2
5,rs1_58048,1,58048,4.028055e-23,LOC_Os01g01450,-0.119848,0.011733,0.023,817,bin6,new_bin3
6,rs1_69492,1,69492,3.019672e-31,LOC_Os01g01620,-0.170383,0.014042,0.068,826,bin7,new_bin4
8,rs1_84683,1,84683,3.500737e-33,LOC_Os07g08934,0.349317,0.027812,0.044,825,bin9,new_bin5

In [15]:
# 给ck_bin添加新的列new_bin，值为ck_bin的bin列在ck_new_bin中的bin列对应new_bin列的值
ck_bin['new_bin'] = ck_bin['bin'].map(ck_new_bin.set_index('bin')['new_bin'])
ck_bin.head()

,rs,chr,ps,p_wald,gene,beta,se,af,n_obs,bin,new_bin
0,rs1_1248,1,1248,3.498399e-22,LOC_Os01g01450,-0.117626,0.011791,0.023,799,bin1,new_bin1
1,rs1_1282,1,1282,1.918899e-12,LOC_Os01g01420,-0.234717,0.032820,0.012,804,bin1,new_bin1
2,rs1_1299,1,1299,2.090801e-28,LOC_Os01g01620,-0.136385,0.011871,0.078,800,bin1,new_bin1
3,rs1_1306,1,1306,2.827318e-17,LOC_Os01g01420,-0.257380,0.029767,0.014,805,bin1,new_bin1
4,rs1_1335,1,1335,1.340900e-53,LOC_Os01g01290,0.369190,0.022210,0.183,807,bin1,new_bin1

In [16]:
# 保存ck_bin
ck_bin.to_csv('./ck_each_snp_belong_to_which_bin_fin.txt', sep='\t', index=False)

In [17]:
# 保存ck_new_bin_unique
ck_new_bin_unique.to_csv('./ck_new_bin_lead_snp.txt', sep='\t', index=False)